$font-stack:    Nunito, sans-serif
$primary-text-color: #000000
$secondary-text-color: #4F4F4F
$terciary-text-color: #A4A4A4
$background-primary-color: #dee9fa
$background-secondary-color: #ddf6db
$background-terciary-color: #ffffff
$background-border: #fafafa

*, *:before, *:after
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  border: 0
  vertical-align: baseline
  text-rendering: optimizeLegibility
  -webkit-font-smoothing: antialiased
  text-size-adjust: none

h1
  font-weight: 500
  font-size: 20px
  line-height: 27px

h2
  font-weight: 500
  font-size: 19px
  line-height: 26px

h5
  font-weight: 400
  font-size: 15px
  line-height: 20px

body
  line-height: 1
  font: 100% $font-stack
  background-image: linear-gradient(90deg, #dee9fa 0, #ddf6db 100%)

ol, ul
  list-style: none

blockquote, q
  quotes: none

blockquote:before, blockquote:after, q:before, q:after
  content: ''
  content: none

table
  border-collapse: collapse
  border-spacing: 0

input
  -webkit-appearance: none
  border-radius: 0
